<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>347237062710-ct6uhma0egj136dsok3htbfd7en88ejq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347237062710-ct6uhma0egj136dsok3htbfd7en88ejq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>347237062710-54tpe6595ua6hkgp9kjpclcac455vk6f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_NZW9ovsHQdHQ3Bb4eA2YdtPml8OWSoU</string>
	<key>GCM_SENDER_ID</key>
	<string>347237062710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newapp366</string>
	<key>PROJECT_ID</key>
	<string>pruebaapp367</string>
	<key>STORAGE_BUCKET</key>
	<string>pruebaapp367.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347237062710:ios:9b1746f7d1f3714fc42097</string>
	<key>DATABASE_URL</key>
	<string>https://pruebaapp367.firebaseio.com</string>
</dict>
</plist>